.slider {
    min-width: 50vw;
    width: 100%;
    max-width: 70vw;
    max-height: max-content;
}

.stable {
    height: calc(100vh - 28rem);
    max-height: max-content;
}

.circle-small {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid royalblue;
    margin: 0 8px;
    cursor: pointer;
}

.bg-blue {
    background: royalblue;
}